*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 60px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
}

.banner{
    background-image: url(/img/fundo-topo.jpeg);
    background-position-y: 30%;
    background-size: cover;
    text-align: center;
}

.banner p{
    font-size: 25px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: bold;
}

.banner a{
    color: #00C18E;
    text-decoration: none;
}

.banner-logos img{
    width: 90px;
}


.foto-perfil img{
    width: 300px;
    border-radius: 50%;
    border:4px solid white;
}